body {
   width: 100%;
   height: 100%;
   font-size: 20px;
   line-height: 30px;
   font-family: 'Poppins', sans-serif;
   color: #000;
   background-color: #D4E1E5;
}

a {
   color: inherit;
   cursor: pointer;
}

button {
   display: inline-block;
   background-color: transparent;
   cursor: pointer;
}

.wrapper {
   padding: 15px;
}

.d-none {
   display: none;
}

.center {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}

.title {
   font-weight: 700;
   font-size: 22px;
}

.input {
   width: 100%;
   padding: 5px 21px;
   border: 1px solid #B1B1B1;
   border-radius: 12px;
}

.form {
   display: flex;
   flex-direction: column;
}

.form-block {
   max-width: 422px;
   padding: 55px;
   border-radius: 10px;
   background-color: #fff;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.input::placeholder {
   color: #b1b1b1;
}

.button {
   display: inline-block;
   color: #fff;
   padding: 5px;
   background: #287F9A;
   border-radius: 12px;
}

.attention-text {
   opacity: 0;
   color: #dc3e3e;
   font-size: 12px;
}

.attention-text.not-required {
   opacity: 1;
   color: #139913;
}

.wrong-field .attention-text {
   opacity: 1;
}

.wrong-field input {
   border-color: #dc3e3e;
}

.book__btn svg rect {
   transition: 0.2s
}

.book__btn svg:hover rect {
   fill: #e7e7e7;
}

.favorite .book__favorite-btn svg path {
   fill: #EB434D;
}

.favorite.book__favorite-btn svg path {
   fill: #EB434D;
}

.go-back {
   display: flex;
}

@media (max-width: 576px) {
   body {
      font-size: 16px;
   }
}